---
---
/* Override theme defaults */
$base-font-family: 'Lato', sans-serif;
$base-font-weight: 300;

/* load _sass/minima.scss */
@import "minima";

/* Custom CSS here */

h1, h2, h3, .page-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}


// a {
//   color: black;
//   text-decoration: underline;
//   text-decoration-color: blue;
// }

a:hover {
  color: #2a7ae2;
}

.section-break {
  margin-top: 50px;
}


// Footer
.footer-col-wrapper {
  padding-left: 15px;
  color: #111;
}

.footer-col {
  padding-left: 0;
}

.footer-col-left {
  padding-right: 120px;
}